server:
  port: 8092
spring:
  application:
    name: desappwebt2
  datasource:
    url: jdbc:mysql://localhost:3306/bd2_blas
    username: ${username}
    password: ${password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
      show-sql: true
      database-platform: org.hibernate.dialect.MySQL8Dialect